/* Light mode styles.css */

.start-scene {
  -fx-background-color: linear-gradient(to right, #ffffff, #cccccc);
}

.display-pane-background {
  -fx-background-color: #f0f0f0;
}

.title-text {
  -fx-font-size: 40px;
  -fx-fill: #000000;
  -fx-font-weight: bold;
}

.instruction-text {
  -fx-font-size: 25px;
  -fx-fill: #333333;
}

.button-color {
  -fx-pref-width: 140px;
  -fx-pref-height: 40px;
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-background-color: #ffffff;
  -fx-text-fill: #000000;
  -fx-alignment: CENTER_LEFT;
}

.load-button {
  -fx-pref-width: 130px;
  -fx-pref-height: 20px;
  -fx-background-color: #ffffff;
  -fx-text-fill: #000000;
}

.theme-selector {
  -fx-pref-width: 140px;
  -fx-pref-height: 40px;
  -fx-font-size: 14px;
  -fx-font-weight: bold;
}

.theme-selector .list-cell {
  -fx-text-fill: #000000;
  -fx-background-color: #ffffff;
}

.command-input {
  -fx-border-color: linear-gradient(to right, #ffffff, #cccccc);
  -fx-border-width: 5;
}
