/* styles.css */

.start-scene {
  -fx-background-color: linear-gradient(to right, #0000FF, #00FF00);
}

.display-pane-background {
  -fx-background-color: #e0e0e0;
}

.title-text {
  -fx-font-size: 40px;
  -fx-fill: WHITE;
  -fx-font-weight: bold;
}

.instruction-text {
  -fx-font-size: 25px;
  -fx-fill: WHITE;
}

.button {
  -fx-pref-width: 120px;
  -fx-pref-height: 40px;
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-alignment: LEFT;
}

.load-button {
  -fx-pref-width: 130px;
  -fx-pref-height: 20px;
}

.theme-selector {
  -fx-pref-width: 120px;
  -fx-pref-height: 40px;
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-alignment: CENTER;
}
